.Profile__Edit-Button {
  background-color: black;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url(../../../images/Edit-Button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: pointer;
}
