.popup__button-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  border: 0;
  margin: 0;
  background-image: url(../../../images/Button-Close.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-color: transparent;
  background-size: 20px 20px;
}
