.Elements__Like-Button {
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../../images/Like-Button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 19px;
  cursor: pointer;
  background-color: white;
}

.Elements__Like-Button::after {
  background-image: url(../../../images/Like-Button-active.png);
}
